
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

:root{
  /* Cores */
  --primary-color: #E0EFDE;
  --secondary-color: #49416D;
  --success-color: #B3F2DD;
  --cancel-color: #E08D79;
  --alert-coolor: #A002DD;

  /* Tipografia */
  --primary-font: 'Muli';
  --secondary-font: 'Quicksand'
}
*{
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: var(--secondary-color);
  font-family: var(--primary-font), sans-serif;
  background-color: var(--primary-color);
}